{% extends "layout.html" %}
{% block content %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<div class="col-lg-6 col-lg-offset-3">
		<div id="chart_div"></div>
	</div>
	<div class="w3-content" style="max-width:800px;position:relative; border:10px solid yellowgreen;">
	{% if list_images %}
		{% for image in list_images %}
		    <p class="mySlides">{{ image.split("/")[-1:][0]}}<img src="{{image}}" style="width:100%"></p>
		{% endfor %}
	{% else %}
		<div class="container-fluid">
			<p>Không có keyframes nào cả!!!</p>
		</div>
	{% endif %}
		<a class="w3-btn-floating" style="position:absolute;top:45%;left:0" onclick="plusDivs(-1)">❮</a>
		<a class="w3-btn-floating" style="position:absolute;top:45%;right:0" onclick="plusDivs(1)">❯</a>
	</div>
	<script>
	var slideIndex = 1;
	showDivs(slideIndex);
	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}
	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length} ;
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";  
	  }
	  x[slideIndex-1].style.display = "block";  
	}

	// chart google
	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawBackgroundColor);

	function drawBackgroundColor() {
	      var data = new google.visualization.DataTable();
	      data.addColumn('number', 'X');
	      data.addColumn('number', 'value_diff');

	      data.addRows({{list_diff}});

	      var options = {
	        hAxis: {
	          title: 'Frames'
	        },
	        vAxis: {
	          title: 'Different Histogram '
	        },
	        backgroundColor: '#f1f8e9'
	      };

	      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	      chart.draw(data, options);
	    }
	</script>
{% endblock %}